.faq {
   padding-top: 118px;
   padding-bottom: 270px;
   background-image: url(../../images/top-img.png), url(../../images/bottom-img.png);
   background-repeat: no-repeat, no-repeat;
   background-size: 550px 460px, 554px 600px;
   background-position: calc(50% + 500px) 50px, calc(50% + 480px) 100%;
}
.faq .container {
   width: 100%;
   max-width: 1150px;
}
.faq__ask-question-box {
   position: fixed;
   z-index: 100;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   display: none;
   width: 100%;
   max-width: 900px;
   margin: 0 auto;
   padding: 119px 51px 137px 71px;
   background-image: url(../../images/dog-img.png), url(../../images/ask-question-bg.png);
   background-repeat: no-repeat, no-repeat;
   background-size: 350px 324px, cover;
   background-position: calc(50% - 250px) 100%, center; 
}
.faq__ask__question__box__btn {
   position: absolute;
   z-index: 1;
   top: 20px;
   left: 20px;
   flex-shrink: 0;
   margin: 0;
   padding: 0;
   background-color: transparent;
   border: none; 
   cursor: pointer; 
}

.faq__ask-question-box__authorization {
   width: 100%;
   max-width: 258px;
   margin-right: 136px;
}
.faq__ask-question-box__authorization__heading {
   margin: 0;
   margin-bottom: 21px;
   font-weight: 500;
   font-size: 20px;
   line-height: 30px;
}
.faq__ask-question-box__authorization__social-link + .faq__ask-question-box__authorization__social-link{
   margin-top: 21px;
}
.faq__ask-question-box__authorization__social-link {
   display: inline-block;
   width: 100%;
   max-width: 258px;
   padding: 14px 35px;
   text-decoration: none;
   font-weight: 500;
   font-size: 14px;
   line-height: 20px;
   background-color: #fff;
   color: #333;
   transition: color 0.2s ease;
}
.faq__ask-question-box__authorization__google-link__img {
   margin-right: 14px;
}
.faq__ask-question-box__send-info {
   width: 100%;
   max-width: 368px;
}
.faq__ask-question-box__heading {
   margin: 0;
   margin-bottom: 22px;
   padding: 0;
   font-weight: bold;
   font-size: 50px;
   line-height: 54px;
   color: #333;
}
.faq__ask-question-box__form {
   width: 100%;
   max-width: 335px;
}
.faq__ask-question-box__form__user-name {
   width: 100%;
   max-width: 335px;
   margin-bottom: 21px;
   padding: 16px 22px;
   border: none;
}
.faq__ask-question-box__form__user-massage {
   width: 100%;
   max-width: 335px;
   margin: 0;
   margin-bottom: 27px;
   padding: 17px 22px;
   border: none;
}
.faq__ask-question-box__form__massage-send {
   margin: 0;
   padding: 16px 66px;
   cursor: pointer;
   border: none;
   background-color: #000;
   color: #fff;
}
.faq__info {
   width: 100%;
   max-width: 752px;
}
.faq__heading {
   margin: 0;
   margin-bottom: 27px;
   padding: 0;
   font-style: normal;
   font-weight: bold;
   font-size: 70px;
   line-height: 64px;
   color: #333333;
}
.faq__paragraph {
   width: 100%;
   max-width: 447px;
   margin: 0;
   margin-bottom: 35px;
   padding: 0;
   color: var(--p-color);
}
.ask__question__btn {
   margin: 0;
   margin-bottom: 63px;
   padding: 15px 38px;
   background-color: var(--blue-color);
   color: #fff;
   border: none;
   border-radius: 3px;
}
.faq__info__item + .faq__info__item {
   margin-top: 18px;
}
.faq__info__item {
   width: 100%;
   max-width: 752px;
   padding: 30px 26px;
   padding-left: 63px;
   background-color: #fff;
   border: 1px solid #F3F3F3;
   border-radius: 5px;
}
.faq__info__item:nth-child(2n) path {
   fill: var(--blue-color);
}
.faq__info__item:nth-child(3n) {
   opacity: 0.5;
}
.faq__info__item__title {
   display: flex;
   align-items: center;
   margin-bottom: 12px;
}
.faq__info__item__title__img {
   margin-right: 9px;
}
.faq__info__item__title__time {
   margin-right: 28px;
   font-size: 14px;
   line-height: 22px;
   color: var(--h-color);
}
.faq__info__item__title__span {
   font-weight: 500;
   font-size: 12px;
   line-height: 22px;
   letter-spacing: 0.08em;
   text-transform: uppercase;
   color: var(--blue-color);
}
.faq__info__item__heading {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 0;
   margin-bottom: 24px;
   padding: 0;
   font-weight: bold;
   font-size: 20px;
   line-height: 22px;
   color: var(--h-color);
}
.arrow-btn { 
   flex-shrink: 0;
   margin: 0;
   padding: 0;
   background-color: transparent;
   border: none; 
   cursor: pointer; 
}

.faq__info__item__paragraph {
   display: none;
   margin: 0;
   margin-bottom: 45px;
   color: var(--p-color);
}
.ask__question--open .faq__ask-question-box {
   display: flex;
} bb,k kckmvfmdm cz  .faq__ask-question-box {
   display: none;
}
.btn--open--one .faq__info__item:nth-child(1) .faq__info__item__paragraph{
   display: block;
}
.btn--open--one .faq__info__item:nth-child(1) .faq__info__item__heading__vector-img {
   transform: rotate(180deg);
}
.btn--open--two .faq__info__item:nth-child(2) .faq__info__item__paragraph{
   display: block;
}
.btn--open--two .faq__info__item:nth-child(2) .faq__info__item__heading__vector-img {
   transform: rotate(180deg);
}
.btn--open--three .faq__info__item:nth-child(3) .faq__info__item__paragraph{
   display: block;
}
.btn--open--four .faq__info__item:nth-child(4) .faq__info__item__paragraph{
   display: block;
}
.btn--open--four .faq__info__item:nth-child(4) .faq__info__item__heading__vector-img {
   transform: rotate(180deg);
}
.btn--open--five .faq__info__item:nth-child(5) .faq__info__item__paragraph{
   display: block;
}
.btn--open--five .faq__info__item:nth-child(5) .faq__info__item__heading__vector-img {
   transform: rotate(180deg);
}
.btn--open--six .faq__info__item:nth-child(6) .faq__info__item__paragraph{
   display: block;
}